
.form {
    margin: 0 auto;
    margin-top: 100px;
    width: 480px;
    height: 480px;
    border: 2px solid #e5a4ff;
    border-radius: 5px;
    background: rgba(194, 194, 194, 0.1);
    &_start-animation {
        animation: appear 1s ease 1;
    }
    &-game {
        border: none;
    }
}