
.scores {
    margin-top: 220px;
    &__item {
        margin-top: 20px;
    }
    &__answers {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 150px;
        height: 150px;
    }
    &__right {
        font-weight: 700;
    }
}