
.condition-form {
    &__title {
        margin-top: 25px;
    }
    &__subtitle {
        margin-top: 30px;
        font-size: 22px;
        text-align: center;
    }
    &__block {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        &-item {
            font-size: 20px;
            cursor: pointer;
            &_active {
                border-bottom: 1px solid $main-color;
            }
        }
    }
    &__btn {
        margin-top: 30px;
        font-size: 28px;
    }
}