
.quiz {
    padding-top: 20px;
    height: 400px;
    &__cat {
        margin: 0 auto;
        display: block;
        font-size: 30px;
        text-decoration: underline;
        text-align: center;
    }
    &__quest {
        padding: 0 10px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    &__options {
        margin-top: 10px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
    }
    &__answer {
        display: flex;
        align-items: center;
        min-height: 50px;
        font-size: 18px;
        cursor: pointer;
        &_active {
        text-transform: uppercase;
        }
        &_correct {
            font-size: 18px;
            text-shadow: 1px 1px 1px whitesmoke, 1px 1px 1px whitesmoke;
        }
    }
}